.jokes{
    width: 70%;
    height: 100%;
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}

.jokenext{
    margin-right: 20px;
}

.right{
    float: right;
}

.picture{
    width: auto;
    max-width: 100%;
    height: auto;
}

.videopic{
    width: 160px;
    height: 90px;
}


.playbtn{
    width: auto;
    height: 20px;
    font-size: 1px;
    padding: 2px;
}

.videotext{
    max-height: 200px;
}

.albumpic{
    width: 70px;
    height: 70px;
}

.album{
    height: 150px;
}

.beautypic{
    width: 100%;
    height: auto;
}

.piccontent{
    width: 50%;
}


