<!DOCTYPE html>
<html lang="zh-ch">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>内涵福利社</title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/buttons.css">
    <link rel="stylesheet" href="../static/css/joke.css">
    <link rel="shortcut icon" href="../static/img/logo_45.jpg" type="image/x-icon">
    <style media="screen">
      body{
        background-color:#F7F7F2;
      }
      .mynav{
        background-color:#FFFFFF;
      }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top mynav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">内涵福利社</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/joke/">段子</a></li>
                <li><a href="/picture/">趣图</a></li>
                <li><a href="/video/">视频</a></li>
                <li class="active"><a href="/album/">专辑</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row jokes">
            {% for album in albums%}
                <div class="col-md-6 album">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-thumbs-up right">{{ album.likes }}</span>
                            <h3 class="panel-title">{{ album.aname }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left media-middle">
                                    {% if album.category == 'weibo_girls' %}
                                        <a href="/album/beauty/{{ album.aid }}/0" target="_blank">
                                            <img class="albumpic"  src="{{ album.aicon }}" alt="">
                                        </a>
                                    {% endif %}
                                    {% if album.category == 'weibo_videos' %}
                                        <a href="/album/video/{{ album.aid }}/0" target="_blank">
                                            <img class="albumpic"  src="{{ album.aicon }}" alt="">
                                        </a>
                                    {% endif %}
                                    {% if album.category == 'weibo_pics' %}
                                            <a href="/album/pic/{{ album.aid }}/0" target="_blank">
                                                <img class="albumpic"  src="{{ album.aicon }}" alt="">
                                            </a>
                                    {% endif %}
                                </div>
                                <div class="media-body">
                                    <p>{{ album.adesc }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <ul class="pager jokenext">
                <li><a href="{{ lastid }}" class="btn btn-default">更多</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
