<!DOCTYPE html>
<html lang="zh-ch">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>内涵福利社</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/css/joke.css">
    <link rel="stylesheet" href="/static/css/pubuliu.css">

    <link rel="shortcut icon" href="/static/img/logo_45.jpg" type="image/x-icon">
    <style media="screen">
      body{
        background-color:#F7F7F2;
      }
      .mynav{
        background-color:#FFFFFF;
      }
    </style>
</head>

<body>
    {% include 'header.html' %}

    <div class="container">
        <div class="jokes">
            <div class="waterfall" id="waterfall">
                {% include 'ajax_album_beauty.html' %}
            </div>
            <span id="page_index" hidden>1</span>
        </div>
    </div>
    <script>
        $(window).scroll(function(){
        　　var scrollTop = $(this).scrollTop();
        　　var scrollHeight = $(document).height();
        　　var windowHeight = $(this).height();
        　　if(scrollTop + windowHeight == scrollHeight){
              page = $('#page_index').text();
        　　　 var nexturl = '/album/beauty/{{ aid }}/'+page;
              jQuery.ajax({
                  type:'GET',
                  url:nexturl,
                  success:function (response){
                      $('#waterfall').append(response.toString());
                      page = parseInt(page)+1;
                      $('#page_index').html(page+'');
                  }
              })
        　　}
        });
    </script>
</body>
</html>
