<!DOCTYPE html>
<html lang="zh-ch">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>内涵福利社</title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/buttons.css">
    <link rel="stylesheet" href="../static/css/joke.css">
    <link rel="shortcut icon" href="../static/img/logo_45.jpg" type="image/x-icon">
    <style media="screen">
      body{
        background-color:#F7F7F2;
      }
      .mynav{
        background-color:#FFFFFF;
      }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top mynav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">内涵福利社</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">段子</a></li>
                <li><a href="#">趣图</a></li>
                <li><a href="#">视频</a></li>
                <li><a href="#">专辑</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row jokes">
            {% for joke in jokes%}
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-thumbs-up" style="float: right">{{ joke.likes }}</span>
                            <h3 class="panel-title">{{ joke.update_time }}</h3>
                        </div>
                        <div class="panel-body" id="{{ joke.id }}">
                            {{joke.wbody}}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <ul class="pager jokenext">
                <li><button class="btn btn-default">更多</button></li>
            </ul>
        </div>
    </div>
</body>
</html>
