<!DOCTYPE html>
<html lang="zh-ch">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>内涵福利社</title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/buttons.css">
    <link rel="stylesheet" href="../static/css/joke.css">
    <link rel="shortcut icon" href="../static/img/logo_45.jpg" type="image/x-icon">
    <style media="screen">
      body{
        background-color:#F7F7F2;
      }
      .mynav{
        background-color:#FFFFFF;
      }
    </style>
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="row jokes" id="id_joke">
            {% for joke in jokes%}
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-thumbs-up right">{{ joke.likes }}</span>
                            <h3 class="panel-title">{{ joke.update_time }}</h3>
                        </div>
                        <div class="panel-body" id="{{ joke.id }}">
                            {{joke.wbody}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(window).scroll(function(){
        　　var scrollTop = $(this).scrollTop();
        　　var scrollHeight = $(document).height();
        　　var windowHeight = $(this).height();
        　　if(scrollTop + windowHeight == scrollHeight){
              var ele = document.getElementsByClassName("panel-body");
              var b = ele[ele.length-1];
              var lastid = b.getAttribute("id");
        　　　 var nexturl = '/joke/'+lastid;
              jQuery.ajax({
                  type:'GET',
                  url:nexturl,
                  success:function (response){
                      $('#id_joke').append(response.toString());
                  }
              })
        　　}
        });
    </script>
</body>
</html>
