<!DOCTYPE html>
<html lang="zh-ch">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>内涵福利社</title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/buttons.css">
    <link rel="stylesheet" href="../static/css/joke.css">
    <link rel="shortcut icon" href="../static/img/logo_45.jpg" type="image/x-icon">
    <style media="screen">
      body{
        background-color:#F7F7F2;
      }
      .mynav{
        background-color:#FFFFFF;
      }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top mynav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">内涵福利社</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/joke/">段子</a></li>
                <li><a href="/picture/">趣图</a></li>
                <li class="active"><a href="/video/">视频</a></li>
                <li><a href="#">专辑</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row jokes">
            {% for video in videos%}
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{ video.vsource_url }}" target="_blank" class="btn  playbtn right"><span class="glyphicon glyphicon-film"></span></a>
                            <span class="glyphicon glyphicon-thumbs-up right">{{ video.likes }}</span>
                            <h3 class="panel-title">{{ video.update_time }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="{{ video.vsource_url }}" target="_blank">
                                        <img class="videopic"  src="{{ video.vpic_small }}" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p>{{ video.wbody }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <ul class="pager jokenext">
                <li><a href="{{ lastid }}" class="btn btn-default">更多</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
